
.Toastify__toast-container .bookToast{
    margin-left: 18%;
    top: 152px;
}

.edit-book .rectangle-6{
    margin-top: 1%;
    margin-bottom: 4%;
}

.edit-book .rectangle-6-red{
    margin-top: 1%;
    margin-bottom: 4%;
}