.dashboard-table{
    border: solid 1px var(--brownish-grey);
    border-radius: 33px;
    background-color: var(--white);
    box-shadow: 10px 10px 6px 0 rgba(0, 0, 0, 0.16);
    min-height: 10vw;
}

.dashboard-table .title{
    background-color: var(--dodger-blue);
    border-radius: 33px 33px 0 0;
    align-items: center;
    height: 9vh;
    display: flex;
    justify-content: center;
}

.dashboard-table .title .title-text{
    margin: 0;
    align-self: center;
    color: var(--white);
}


.view-star .empty-star {
    color: #edd100;
}

.view-star .full-star {
    color: #edd100;
}

.view-star{
    display: flex;
    flex-direction: column;
}

.view-star .empty-star, .view-star .full-star {
    font-size: 1.5rem;
}

.dashboard-table .table--3cols{
    padding: 1.2vw;
}

.dashboard-table .generic-table-container .generic-table-row{
    min-height: 7vh;
}