.side-bar {
    width: 259px;
    border-top: transparent;
    background-color: var(--app-violet);
    color: var(--app-grey);
    height: 89.9vh;
    display: grid;
    grid-template-rows: 2fr 1fr 1fr 1fr 1fr 1fr 2fr;
}

.name-and-img-container {
    padding: 20px;
}

.name-and-img {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid var(--app-grey);
}

.user-circle-2x {
    font-size: 50px;
    object-fit: contain;
}

.side-bar-name-container {
    width: fit-content;
}

.side-bar-name {
    font-family: PlayfairDisplay, serif;
    font-size: 18px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.33;
    letter-spacing: 0;
    margin: auto;
}

.side-bar-row {
    display: grid;
    grid-template-columns: 1fr 2fr;
    height: 75px;
}

.side-bar-row-title {
    font-family: Roboto, serif;
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.31;
    letter-spacing: 0;
    text-align: left;
    margin-top: auto;
    margin-bottom: auto;
}

.row-icon {
    font-size: 25px;
    color: inherit;
    margin: auto;
}

.selected-row {
    background-color: var(--dodger-blue);
    color: #ffffff;
}
