.loan-pending-approval-chip {
    background-color: var(--cool-grey);
}

.loan-rejected-chip {
    background-color: var(--scarlet);
}

.loan-approved-chip {
    background-color: var(--mid-green);
}

.loan-delayed-chip {
    background-color: var(--orangey-red);
}

.loan-withdrawn-chip {
    background-color: var(--dodger-blue);
}

.loan-approved-chip,.loan-delayed-chip,.loan-pending-approval-chip,.loan-rejected-chip,.loan-withdrawn-chip {
    border-radius: 33px;
    height: 70%;
    width: 70%;
    color: var(--white);
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Roboto, serif;
    font-size: 16px;
    font-weight: bold;
}

.request-extension-button {
    height: 70%;
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    color: var(--white);
    background-color: var(--dodger-blue);
    border: none;
    font-family: Roboto, serif;
    font-size: 16px;
    font-weight: bold;
    outline: none;
}

.request-extension-button:hover {
    cursor: pointer;
}

.loan-book-title-and-author {
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
