.student-loan-table-container .loan-pending-approval-chip {
    background-color: var(--cool-grey);
}
.loan-rejected-chip {
    background-color: var(--scarlet);
}

.loan-approved-chip, .loan-returned-chip {
    background-color: var(--mid-green);
}

.loan-delayed-chip {
    background-color: var(--orangey-red);
}

.loan-withdrawn-chip {
    background-color: var(--dodger-blue);
}

.student-loan-table-container .loan-ready-for-withdrawal-chip {
    background-color: var(--cerulean);
}

.loan-approved-chip, .loan-delayed-chip, .loan-pending-approval-chip, .loan-rejected-chip, .loan-withdrawn-chip, .loan-ready-for-withdrawal-chip, .loan-returned-chip {
    border-radius: 33px;
    color: var(--white);
    border: none;
    padding: 2px 10px;
    font-family: Roboto, serif;
    font-size: 16px;
    font-weight: bold;
    width: 7rem;
}

.loan-table-button {
    border-radius: 9px;
    padding: 4px 10px;
    color: var(--white);
    background-color: var(--dodger-blue);
    border: none;
    font-family: Roboto, serif;
    font-size: 14px;
    font-weight: bold;
    outline: none;
    width: 9rem;
}

.loan-table-button:hover {
    cursor: pointer;
}

.loan-book-title-and-author {
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
