.tag-container {
    height: 70px;
    border-radius: 18px;
    display: flex;
    flex-wrap: wrap;
    overflow-y: scroll;
    width: 100%;
}

.tag-container.reverse-container {
    flex-direction: row-reverse;
}

.tag-container .tag {
    display: flex;
    width: fit-content;
    padding: 0 15px;
    height: 40px;
    border-radius: 33px;
    background-color: var(--app-grey);
}

.tag-container.align-center {
    align-items: center;
}

.tag-container .deletable-tag {
    justify-content: space-between;
}

.tag-container .non-deletable-tag {
    justify-content: center;
}

.tag .tag-name {
    font-family: Roboto, serif;
    font-size: 14px;
    text-align: center;
    flex-grow: 5;
}

.tag .delete-tag-icon {
    width: fit-content;
    color: #a4a8ad;
    font-size: x-large;
}

.tag .delete-tag-icon:hover {
    cursor: pointer;
}
