:root {
    --dodger-blue: #48a3fb;
    --black: #030303;
    --cool-grey: #a4a8ad;
    --light-periwinkle: #dfe2e6;
    --white: #ffffff;
    --pale-pink: #f7d7db;
    --mid-green: #4caf50;
    --emerald-green: #087f23;
    --cerulean: #0075c7;
    --orangey-red: #f44336;
    --scarlet: #ba000d;
    --very-light-pink: #f1f1f1;
    --brownish-grey: #707070;
    --black-two: #000000;
    --light-gold: #ffee58;
}