.book-details-container {
    width: 40vw;
    padding: 20px 60px;
}

.book-details-row {
    height: 59px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.book-details-label {
    font-weight: bold;
    text-align: left;
    font-family: Roboto, serif;
}

.book-details-component {
    text-align: right;
    font-weight: normal;
    font-family: Roboto, serif;
}

.book-details-tag-container {
    display: flex;
    align-items: center;
    width: 45%;
    height: 100%;
}

.request-loan-button {
    width: 30%;
    padding: 2.5%;
    border-radius: 33px;
    background-color: #48a3fb;
    border: none;
}

.request-loan-button:focus{
    outline: none;
}

.book-review-value-container {
    padding: 1%;
}

.book-review-value-container .empty-star,.full-star {
    font-size: 40px;
}
.book-review-value-container .empty-star {
    color: #edd100;
}

.book-review-value-container .full-star {
    color: #edd100;
}

.request-loan-button-label {
    font-family: Roboto, serif;
    font-size: 17px;
    font-weight: bold;
    text-align: center;
    color: #ffffff;
    margin: 0;
}

.request-loan-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
}

.available-copies-text {
    color: #a4a8ad;
    font-weight: normal;
}
