.create-incorporation-request {
    width: 42vw;
    border-radius: 33px;
    box-shadow: 10px 10px 6px 0 rgba(0, 0, 0, 0.16);
    border: solid 1px var(--brownish-grey);
}

.create-incorporation-request .create-incorporation-request-title {
    font-family: PlayfairDisplay, serif;
    font-size: 50px;
    font-weight: 900;
    font-style: italic;
    color: var(--black);
}

.create-incorporation-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 45vh;
    padding: 30px;
}

.create-incorporation-body .create-incorporation-form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 40px;
}

.create-incorporation-form .create-incorporation-field {
    font-family: Roboto, serif;
    font-size: 18px;
    text-align: left;
    border-radius: 18px;
    border: solid 1px var(--light-periwinkle);
    outline: none;
    padding: 10px 15px;
}

.create-incorporation-form .create-incorporation-reason {
    grid-column: auto / span 2;
    resize: none;
    outline: none;
    border-radius: 33px;
    border: solid 1px var(--light-periwinkle);
    padding: 20px;
    font-family: Roboto, serif;
    font-size: 16px;
}
