.generic-field-container{
    border-radius: 18px;
    border: solid 1px #dfe2e6;
    background-color: #ffffff;
    display: flex;
    justify-content: space-evenly;
    padding: 10px;
    width: inherit;
}

.generic-field-container.toRight{
    flex-direction: row-reverse;
}

.generic-field-container .generic-input,.generic-password-input {
    font-family: Roboto, serif;
    font-size: 18px;
    text-align: left;
    color: #111111;
    border: none;
    outline: none;
    width: 100%;
}

.generic-field-container .generic-field-input-container {
    padding: 0 20px;
    flex-grow: 5;
}


.generic-field-container .generic-field-icon {
    object-fit: contain;
    color: #a4a8ad;
    font-size: x-large;
}
