.search-book-screen {
    width: inherit;
    height: inherit;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 30px;
    gap: 20px;
}

.book-search-container {
    display: grid;
    align-content: center;
    height: 50px;
    grid-template-columns: 30vw 5vw;
}

.book-search-container .search-field {
    height: 44px;
    border-radius: 22px;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
    border: solid 1px var(--brownish-grey);
    background-color: var(--white);
    font-family: Helvetica, FontAwesome, sans-serif;
}

.book-search-container .search-field:focus {
    border-color: transparent;
}

.book-search-container .add-button {
    font-size: 35px;
    color: var(--app-green);
    align-self: center;
    justify-self: end;
}

.book-search-container .add-button:hover {
    cursor: pointer;
}

.search-book-table-container {
    padding: 50px 40px;
    width: 50vw;
    height: 55vh;
    box-shadow: 10px 10px 6px 0 rgba(0, 0, 0, 0.16);
    border: solid 1px var(--brownish-grey);
    background-color: var(--white);
    border-radius: 25px;
}

.activate-modal-body {
    padding: 30px;
}

.activate-modal-body .activate-modal-text-container{
    width: 30vw;
}
