.book-search-container {
    width: 40%;
    display: grid;
    grid-template-columns: 4fr 1fr;
    margin: 5% auto auto;
}

.book-search-container .search-field {
    height: 44px;
    border-radius: 22px;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
    border: solid 1px var(--brownish-grey);
    background-color: var(--white);
    font-family: Helvetica, FontAwesome, sans-serif;
}

.book-search-container .search-field:focus {
    border-color: transparent;
}

.book-search-container .add-button {
    font-size: 40px;
    color: var(--mid-green);
}

.search-book-table-container {
    padding: 50px 40px;
    width: 45vw;
    height: 55vh;
    box-shadow: 10px 10px 6px 0 rgba(0, 0, 0, 0.16);
    border: solid 1px var(--brownish-grey);
    background-color: var(--white);
    border-radius: 25px;
    margin: 3vh auto auto;
}
