.book-screen .enable-icon {
    width: 20px;
    height: 20px;
    object-fit: contain;
    color: var(--app-green);
}

.book-screen .disable-icon {
    width: 20px;
    height: 20px;
    object-fit: contain;
    color: #000000;
}
