.create-book {
}

.create-book-title {
    width: 298px;
    height: 67px;
    font-family: PlayfairDisplay, serif;
    font-size: 50px;
    font-weight: 900;
    font-stretch: normal;
    font-style: italic;
    line-height: 1.34;
    letter-spacing: normal;
    text-align: left;
    color: #030303;
    margin: auto;
}

.create-book-form {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.form-input {
    width: 300px;
    height: 50px;
    border-radius: 18px;
    border: solid 1px #dfe2e6;
    background-color: #ffffff;
}

.rectangle-2 {
    width: 45%;
    height: 50px;
    border-radius: 18px;
    border: solid 1px #dfe2e6;
    background-color: #ffffff;
    margin: 2%;
    display: flex;
    flex-wrap: wrap;
}

.input {
    width: 80%;
    height: 22px;
    font-family: Roboto, serif;
    font-size: 18px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 2.81;
    letter-spacing: normal;
    text-align: left;
    color: #111111;
    border: none;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 10px;
}

.input:focus, .Password:focus{
    outline: none;

}

.box {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 6% 4% 0;
}

.icon {
    object-fit: contain;
    color: #a4a8ad;
    font-size: x-large;
    width: 15%;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 1%;
}

.error-box {
    width: 450px;
    height: 50px;
    border-radius: 5px;
    border: solid 1px #a4a8ad;
    background-color: #f7d7db;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.tag-container {
    width: 45%;
    height: 70px;
    border-radius: 18px;
    margin: 2%;
    display: flex;
    flex-wrap: wrap;
    overflow-y: scroll;
}
.tag {
    min-width: 124px;
    height: 40px;
    border-radius: 33px;
    background-color: #dfe2e6;
    display: grid;
    grid-template-columns: 2fr 1fr;
    margin-left: 10px;
    margin-top: 5px;
}

.tag-name {
    margin: auto;
    font-family: Roboto, serif;
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 2.81;
    letter-spacing: normal;
    text-align: left;
    color: #030303;
}

.error-message {
    height: 21px;
    font-family: Roboto, serif;
    font-size: 16px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.31;
    letter-spacing: 0;
    color: #030303;
}


.tag-icon-container {
    margin: auto;
}

.copies-container {
    width: 95%;
    display: grid;
    grid-template-columns: 10fr 1fr;
}

.copies-add-button {
    font-size: 30px;
    color: #4caf50;
}

.copies-table {
    max-height: 150px;
    margin: 2%;
    overflow-y: scroll;
}

.copies-header-row {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    border-bottom: solid 2px #707070;
}

.copies-header {
    font-weight: bold;
}

.copies-row {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    border-bottom: solid 1px #707070;
    height: 35px;
}

.copies-col {
    height: 21px;
    font-family: Roboto, serif;
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 2.81;
    letter-spacing: normal;
    text-align: center;
}

.copies-check {
    font-size: 20px;
    color: #4caf50;
}

.copies-ban {
    font-size: 20px;
    color: #f44336;
}

.tags-field {
    display: grid;
    grid-template-columns: 5fr 1fr;
}

button:hover {
    cursor: pointer;
}
