.loan-history-screen {
    width: inherit;
    height: inherit;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 30px;
    background-color: var(--app-grey);
    gap: 20px;
}

.loan-history-screen .loan-history-table-container {
    padding: 50px 40px;
    width: 50vw;
    height: 55vh;
    box-shadow: 10px 10px 6px 0 rgba(0, 0, 0, 0.16);
    border: solid 1px var(--brownish-grey);
    background-color: var(--white);
    border-radius: 25px;
}

.loan-history-screen .loan-history-success-container {
    height: 5vh;
    width: 30vw;
}

.loan-history-screen .search-container {
    display: grid;
    align-content: center;
    height: 50px;
    grid-template-columns: 30vw;
}
