.header {
    background-color: #48a3fb;
    color: #ffffff;
    padding: 10px;
}

.title {
    margin: 0 !important;
    font-family: PlayfairDisplay, serif;
    font-size: 70px;
    font-weight: 900;
    font-stretch: normal;
    font-style: italic;
    line-height: 1.34;
    letter-spacing: normal;
    text-align: left;
}

.body {
    padding: 20px;
}

