.modal-header {
    background-color: var(--app-green);
}

.modal-header .modal-title {
    font-family: Playfair Display, serif;
    font-size: 70px;
    font-weight: 900;
    font-stretch: normal;
    font-style: italic;
    line-height: 1.34;
    letter-spacing: normal;
    text-align: left;
    color: var(--white);
    padding: 10px;
    margin: 0 32px 0 32px;
}

.modal-body {
    padding: 20px;
}

.modal-title {
    font-family: Roboto, serif;
    font-size: 35px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.31;
    color: var(--black);
    text-align: center;
    margin-top: 45px;
}

