.modal-header {
    background-color: var(--app-green);
}

.modal-title {
    font-family: PlayfairDisplay, serif;
    font-weight: 900;
    font-stretch: normal;
    font-style: italic;
}

.modal-header {
    padding: 15px;
    text-align: center;
}
.modal-header .modal-title {
    color: var(--white);
    font-size: 70px;
}

.modal-header-transparent .modal-title {
    font-size: 50px;
}

.modal-body {
    padding: 20px;
}

.modal-header-transparent {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    padding: 15px;
}

.modal-header-transparent .close-modal-icon {
    font-size: 25px;
    position: absolute;
    top: 10%;
    right: 2%;
}

.modal-header-transparent .close-modal-icon:hover {
    cursor: pointer;
}

