.edit-profile-grey-icon {
    width: 20px;
    height: 20px;
    object-fit: contain;
    color: #a4a8ad;
    font-size: x-large;
    position: relative;
    top: 25%;
    left: 2%;
}

.edit-profile-black-icon{
    width: 20px;
    height: 20px;
    object-fit: contain;
    color: #030303;
    font-size: x-large;
    position: relative;
    top: 25%;
    left: 2%;
}

.update-profile-title {
    width: 298px;
    height: 67px;
    font-family: PlayfairDisplay, serif;
    font-size: 50px;
    font-weight: 900;
    font-stretch: normal;
    font-style: italic;
    line-height: 1.34;
    letter-spacing: normal;
    text-align: center;
    color: #030303;
    margin: auto;
}

.edit-profile-container {
    width: 800px;
    height: fit-content;
    box-shadow: 10px 10px 6px 0 rgba(0, 0, 0, 0.16);
    border: solid 1px #707070;
    background-color: #ffffff;
    border-radius: 25px;
    position: relative;
}

.edit-profile-container .box{
    margin: 0;
    height: 60px;
}

.edit-profile-screen input{
    display: flex;
    flex: 1;
}

.edit-profile-grid {
    width: inherit;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 30px;
    padding: 20px;
}

.edit-profile-buttons-grid {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 5%;
    margin-top: 5%;
}


.edit-profile-body {
    padding: 20px;
}

.edit-profile-submit-button {
    width: 30%;
    padding: 2.5%;
    border-radius: 33px;
    background-color: #e4e9f0;
    border: none;
    color: #48a3fb;
}

.edit-profile-submit-button:focus {
    outline: none;
}

.edit-profile-submit-button:focus {
    outline: none;
}
