.delete-account-body {
    margin: 40px 60px 0 60px;
    width: 600px;
    padding-bottom: 30px;
}

.delete-account-body .text {
    line-height: 2.33;
}

.delete-button-container {
    padding-bottom: 20px;
}

.Toastify__toast-container .profileToast{
    margin-left: 18%;
    top: 62px;
}

.profile-main-container{
    display: flex;
    padding: 7%;
    justify-content: center;
    width: 86%;
    overflow: scroll;
}
