.edit-password-modal{
    padding: 3vh 3vw;
    align-content: center;
}

.edit-password-input{
    padding: 4vh 1vw;
}


.edit-password-open-button{
    font-size: 18px;
    color: var(--app-green);
    font-family: Roboto, serif;
    background-color: var(--white);
    outline: none;
    padding: 1.5%;
    border-radius: 33px;
    border-color: var(--app-green);
    font-weight: bold;
    border-style: solid;
    text-align: center;
}



.edit-password-lock-icon{
    margin: 4px;
}

.edit-password-modal-buttons-container{
    padding-bottom: 4vh;
}